{% extends 'base_back.html.twig' %}

{% block title %}Emplacement index{% endblock %}

{% block main %}
<h3><i class="fa fa-angle-right"></i> Emplacement index</h3>
<a href="{{ path('emplacement_new') }}">Create new</a>
<div class="row mb">
    <!-- page start-->
    <div class="content-panel">
        <div class="adv-table">
            <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="hidden-table-info">
        <thead>
            <tr>
                <th>Id</th>
                <th>Lieu</th>
                <th>Capacite</th>
                <th>stock</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for emplacement in emplacements %}
            <tr>
                <td>{{ emplacement.id }}</td>
                <td>{{ emplacement.lieu }}</td>
                <td>{{ emplacement.capacite }}</td>
                <td>{{ emplacement.stock }}</td>
                <td>
                    <a href="{{ path('emplacement_show', {'id': emplacement.id}) }}"><i class="fa fa-eye"> show </i> &nbsp; &nbsp; &nbsp;   </a>
                    <a href="{{ path('emplacement_edit', {'id': emplacement.id}) }}"><i class="fa fa-edit"> edit </i>  </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
            </table>
        </div>
    </div>
    <!-- page end-->
</div>
    <!-- /row -->
{% endblock %}
{% block jstable %}
    <script type="text/javascript" language="javascript" src={{ asset("lib/advanced-datatable/js/jquery.js")}}></script>
    <script type="text/javascript" language="javascript" src={{ asset("lib/advanced-datatable/js/jquery.dataTables.js")}}></script>
    <script type="text/javascript" src={{ asset("lib/advanced-datatable/js/DT_bootstrap.js")}}></script>
    <script type="text/javascript">
        function fnFormatDetails(oTable, nTr) {
            var aData = oTable.fnGetData(nTr);
            return sOut;
        }

        $(document).ready(function() {
            var nCloneTh = document.createElement('th');
            var nCloneTd = document.createElement('td');
            nCloneTd.innerHTML = '<img src={{ asset("lib/advanced-datatable/images/details_open.png")}}>';
            nCloneTd.className = "center";

            var oTable = $('#hidden-table-info').dataTable({
                "aoColumnDefs": [{
                    "bSortable": false,
                    "searchable":false,
                    "aTargets": [4]
                }],
                "aaSorting": [
                    [0, 'asc']
                ]
            });

        });
    </script>
{% endblock %}
