{% extends 'base_back.html.twig' %}

{% block title %}Achat index{% endblock %}

{% block main %}
<h3><i class="fa fa-angle-right"></i> Achat index</h3>
<a href="{{ path('achat_new') }}">Create new</a>
<div class="row mb">
    <!-- page start-->
    <div class="content-panel">
        <div class="adv-table">
            <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="hidden-table-info">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date</th>
                <th>NomClient</th>
                <th>NumeroClient</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for achat in achats %}
            <tr>
                <td>{{ achat.id }}</td>
                <td>{{ achat.date ? achat.date|date('Y-m-d') : '' }}</td>
                <td>{{ achat.nomClient }}</td>
                <td>{{ achat.numeroClient }}</td>
                <td>
                    <a href="{{ path('achat_show', {'id': achat.id}) }}">show</a>
                    <a href="{{ path('achat_edit', {'id': achat.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
            </table>
        </div>
    </div>
    <!-- page end-->
</div>
    <!-- /row -->
{% endblock %}
