{% extends 'base.html.twig' %}

{% block title %}Produit index{% endblock %}

{% block body %}
<h3><i class="fa fa-angle-right"></i> Produit index</h3>
<a href="{{ path('produit_new') }}">Create new</a>
<div class="row mb">
    <!-- page start-->
    <div class="content-panel">
        <div class="adv-table">
            <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="hidden-table-info">
        <thead>
            <tr>
                <th>Id</th>
                <th>Libelle</th>
                <th>Image</th>
                <th>Description</th>
                <th>prix</th>
                <th>type</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for produit in Produits %}
            <tr>
                <td>{{ produit.id }}</td>
                <td>{{ produit.libelle }}</td>
                <td><img style="width: 100%" src="{{asset('img/bike/') ~ produit.image }}" class="img-responsive" alt="Image"></td>
                <td>{{ produit.description }}</td>
                <td>{{ produit.prix }}</td>
                <td>{{ produit.type }}</td>
                <td>
                    <a href="{{ path('produit_show', {'id': produit.id}) }}">show</a>
                    <a href="{{ path('produit_edit', {'id': produit.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
            </table>
        </div>
    </div>
    <!-- page end-->
</div>
    <!-- /row -->
{% endblock %}
